// you can add global css
@import "colors";
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
}

mat-card-subtitle {
  margin-top: 16px !important;
}

.header {
  background-color: $primary;
  color: $text_color;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.mat-card-alignment {
  margin: auto;
  width: 50%;
  background-color: $secondary;
}
